
@font-face {
	font-family: thothDefault;
	src: url(/../fonts/avenir.ttf);
}

h1, h2 {
	padding-bottom: 10px;
    padding-top: 10px;
    font-family: Avenir Bold;
    font-weight: bold;
}

h1 {
    font-size: 19;
}

h2 {
    font-size: 17;
}


body {
    /*padding-left: 10px;*/
    font-family: Avenir, Arial;
    font-size: 14;
}

p {
    padding-bottom: 5px;
    padding-top: 5px;
}

p.example {
    font-size: 15;
    padding-left: 5px;
}

span.def {
}

span.hiero {
    font-weight: bold;
}

img.hiero {
    display: inline-block;
    padding: 0px;
    width: 100%;
    height: 46;
}

p.instruction {
    font-style: italic;
}

span.control {
    font-weight: bold;
}
